<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581797591300-0ljc2ll39rmctacb3oamotuih2np7ib8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581797591300-0ljc2ll39rmctacb3oamotuih2np7ib8</string>
	<key>API_KEY</key>
	<string>AIzaSyD9B9LBJElsF25bhIz6v5zPbW4-TxC66eE</string>
	<key>GCM_SENDER_ID</key>
	<string>581797591300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemobiles.crashlyticFbDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-ef913</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ef913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581797591300:ios:ff4625230c7c96d0ea7851</string>
</dict>
</plist>